@model AdminDashboardVM
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}

<!-- Statistics Cards -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stat-card primary-card h-100">
            <div class="card-body">
                <div class="stat-title">Total Users</div>
                <div class="stat-value">@Model.TotalUsers</div>
                <i class="bi bi-people-fill stat-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stat-card success-card h-100">
            <div class="card-body">
                <div class="stat-title">Total Orders</div>
                <div class="stat-value">@Model.TotalOrders</div>
                <i class="bi bi-cart-check-fill stat-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stat-card info-card h-100">
            <div class="card-body">
                <div class="stat-title">Total Revenue</div>
                <div class="stat-value">@Model.TotalRevenue</div>
                <i class="bi bi-currency-dollar stat-icon"></i>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card stat-card warning-card h-100">
            <div class="card-body">
                <div class="stat-title">Number of Books</div>
                <div class="stat-value">@Model.TotalBooks</div>
                <i class="bi bi-book-half stat-icon"></i>
            </div>
        </div>
    </div>
</div>


<!-- Low Stock Books -->
@if(Model.LowStockBooks.Count > 0)
{
    <div class="d-flex justify-content-end mb-2">
        <a 
            asp-action="LowStockBook" asp-controller="Dashboard"
            class="btn btn-sm btn-primary">
            <i class="bi bi-eye me-1"></i> View All
        </a>
    </div>
    @await Component.InvokeAsync("LowStockBooks", Model.LowStockBooks)
}

<!-- Top Selling Books -->
@if (Model.TopSellingBooks.Count > 0)
{
	<div class="d-flex justify-content-end mb-2">
		<a asp-action="TopSellingBook" asp-controller="Dashboard"
		   class="btn btn-sm btn-primary">
			<i class="bi bi-eye me-1"></i> View All
		</a>
	</div>
	@await Component.InvokeAsync("TopSellingBooks", Model.TopSellingBooks)
}

