@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="user-menu">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center text-dark" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle me-2"></i>
                <span class="d-none d-sm-inline">@UserManager.GetUserName(User)</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm border-light" aria-labelledby="userDropdown">
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile"><i class="bi bi-person me-2"></i>Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="bi bi-box-arrow-right me-2"></i>Logout</a></li>
            </ul>
        </div>
    }
    else
    {
        <div class="d-flex auth-buttons">
            <a class="btn btn-outline-primary btn-sm me-2" asp-controller="Account" asp-action="Login">
                <i class="bi bi-box-arrow-in-right me-1"></i>
                <span class="d-none d-sm-inline">Login</span>
            </a>
            <a class="btn btn-primary btn-sm" asp-controller="Account" asp-action="Register">
                <i class="bi bi-person-plus me-1"></i>
                <span class="d-none d-sm-inline">Sign Up</span>
            </a>
        </div>
    }
</div>

